<!DOCTYPE html>
<html>
<head>
    <title>Employee Details</title>
    <style>
        .employee-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            width: 200px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h2>ABS</h2>
    <h3>Add a Member</h3>
    <div>
        <input type="text" id="searchbox" placeholder="Employee ID">
        <button id="addButton">Add</button>
    </div>
    
    <h2>Employee Details</h2>
    <div class="employee-container">
        {% for employee in employees %}
        <div class="employee-box">
            <h3>Employee ID: {{ employee.employee_id }}</h3>
            <p>Employee Name: {{ employee.employee_nm }}</p>
            <p>Email ID: {{ employee.email }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
